.bg {
    background-image: url('components/img/ип.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    background: linear-gradient(rgba(111, 0, 255, 0.955), rgba(153, 0, 255, 0.855));
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}